<table class="notary-signature">
  <tbody>
    <tr>
      <td class="" colspan="2">SWORN (OR AFFIRMED) BEFORE ME</td>
      <td class="parens"> ) </td>
      <td class=""> </td>
    </tr>
    <tr>
      <td class="collapse-width">at </td>
      <td class="form-underline">&nbsp;</td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
    <tr>
      <td class="collapse-width"></td>
      <td class="notary-line-text">[commissioner’s city/town]</td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
    <tr>
      <td class="collapse-width">on </td>
      <td class="form-underline">&nbsp;</td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
    <tr>
      <td class="collapse-width"></td>
      <td class="notary-line-text">[date]</td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
    <tr>
      <td class="" colspan="2"></td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
    <tr>
      <td class="" colspan="2"></td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
    <tr>
      <td class="" colspan="2"></td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
    <tr>
      <td class="" colspan="2"></td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
    <tr>
      <td class="signature-above" colspan="2">A commissioner for taking</td>
      <td class="parens"> ) </td>
      <td class="signature-above">{{ name|upper }}</td>
    </tr>
    <tr>
      <td class="" colspan="2">affidavits for British Columbia</td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
  </tbody>
</table>