{% extends 'base.html' %}

{% block title %}{{ block.super }}: Qualified{% endblock %}

{% block content %}

<h1 class="checkmark">You have met the conditions for using the Online Divorce Assistant</h1>
<h2> Register or Login</h2>
<p>You will need a <strong>Basic BCeID</strong> account to access the Online Divorce Assistant. This will also enable you to securely access multiple other online government services.</p>

    <hr />

<div class="success-buttons">
    <div class="flex-row" id="bcId" style="width: 45%">
        <h3>Register for a <br>Basic BCeID</br></h3>
        <p>Once you register, you’ll be taken back to this website.</p>
    </div>
    <div class="flex-row" id="login" style="width: 45%">
        <h3>Login with a <br>BCeID</br></h3>
        <p>Once you login, you’ll be taken back to this website.</p>
    </div>
</div>
<div class="success-buttons">
    <div class="flex-row" id="bcId" style="width: 45%">
        <a class="btn btn-success btn-lg btn-block" href="{% url 'register' %}">
            Register
        </a>
    </div>
    <div class="flex-row"id="login" style="width: 45%">
        <a class="btn btn-success btn-lg btn-block" href="{% url 'login' %}">
            Login
        </a>
    </div>
</div>


<p>&nbsp;</p>

{% endblock %}

{% block formbuttons %}
<!-- no formbuttons -->
{% endblock %}

{% block sidebarNav %}
<!-- no sidebar -->
{% endblock %}
{% block sidebar %}
<!-- no sidebar -->
{% endblock %}
