{% extends "partials/tooltips/base.html" %}

{% block title %}
    Affidavit of No Marriage Certificate
{% endblock %}

{% block inner %}
    The Affidavit of Translation is a sworn document which may be required by the Court to prove 
    the marriage took place. This document is required when a marriage certificate or registration 
    absolutely cannot be provided.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}Affidavit of No Marriage Certificate (F30){% endif %}
{% endblock %}